* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
}

.navbar {
    background: #F55A5A;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar>h1 {
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    margin-left: 7px;
}

.card-container {
    width: 471px;
    height: 168px;
    margin: 39px 36px;
    display: flex;
    flex-direction: row;
}

.card--image {
    width: 100%;
    max-width: 126px;
    max-height: 168px;
    border-radius: 5px;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 19px
}

.location-container {
    display: flex;
    margin-bottom: -8px;
}

.location-container>img {
    width: 7px;
    height: 9.55px;
}

.location-name {
    display: inline;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.map-url {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
    padding-left: 20px;
    margin-top: 10px
}

.card-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin-top: 0px;
}

.card-date {
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
}

.card-description {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}

hr {
    margin: -15px 39px;
    margin-top: -15px;
    height: 0px;
    border: 1px solid #F5F5F5;
}